<launch>
    <param name="/use_sim_time" value="true" />

    <node name="$(anon morse_launcher)" pkg="iarc7_simulator"
        type="morse_launcher.sh" cwd="node" />

    <rosparam command="load" file="$(find iarc7_simulator)/param/empty_sim.yaml" />

    <node name="simulator_adapter" pkg="iarc7_simulator" type="simulator_adapter.py" />

    <node name="roomba_controller" pkg="iarc7_simulator" type="roomba_controller.py" />
</launch>
